CompileFlags:
  Add:
    - -std=c++20

# ... CUDA Toolkit

If:
  PathMatch: .*\.cu[h]?

CompileFlags:
  Compiler: C:/Users/Administrater/scoop/apps/cuda/current/bin/nvcc.exe
  Add:
    - --cuda-path=C:/Users/Administrater/scoop/apps/cuda/current
    - --no-cuda-version-check
    - -xcuda
    - -std=c++20
    - -ferror-limit=0
  Remove:
    - --expt-*
    - --generate-code=*
    - -arch=*
    - -rdc=*
    - -Xcompiler=*
    - -forward-unknown-to-host-compiler
    - -extended-lambda
    - -expt-relaxed-constexpr
    - -Xptxas=*
    - -res-usage

Diagnostics:
  Suppress:
    - "typename_nested_not_found"
    - "override_keyword_only_allowed_on_virtual_member_functions"

# ... CUDA Toolkit
